.parent{
    display: flex;
    width: 50%;
    border: 1px solid black;
    margin: 5px auto;
}

.image img{
    display: block;
    width: 180px;
    min-height: 98%;
    margin: 3px 20px 3px 10px;
    padding-bottom: 10px;
}

.last *{
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}

.last p{
    float: left;
    font-weight: bolder;
    font-size: larger;
}

.last a{
    display: block;
    float: right;
}

.brand{
    font-weight: bold;
}