body{
    background-color: darkcyan;
}

.parent{
    display: flex;
    width: 55%;
    border: 1px solid black;
    margin: 5px auto;
    background-color: whitesmoke;
    padding-right: 10px;
}

.image img{
    display: block;
    width: 180px;
    min-height: 98%;
    margin: 3px 20px 3px 10px;
    padding-bottom: 10px;
}

.last *{
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
}

.last{
    width: 80%;
}

.last p{
    float: left;
    font-weight: bolder;
    font-size: larger;
}

.last a{
    display: block;
    float: right;
    padding-right: 10px;
}

.brand{
    font-weight: bold;
}

.btn_div{
    width: 55%;
    margin: auto;
}

.btn_div button{
    display: inline-block;
    width: 100px;
    height: 40px;
}

.btn_div button:nth-of-type(1){
    float: left;
}

.btn_div button:nth-of-type(2){
    float: right;
}

